html {
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
    background:#fff;
    font-family:'Lato', sans-serif;
}

#title {
    width:50%;
    margin:1vw auto;
    text-align:center;
    font-size:5em;
    color:#08328b;
}

#search {
    width:50%;
    margin:1vw auto;
}

input#searchbar {
    width:50vw;
    outline:none;
    border:none;
    border-bottom:0.2vw solid #466ec5;
    padding:0.5vw;
    transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -ms-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
}

input#searchbar:focus {
    border-color:#e7cb4d;
}

#search:focus #suggest {
    height:auto;
}


button#searchSubmit {
    border:none;
    float:right;
    color:#466ec5;
    position:relative;
    margin-top:-2vw;
    background:#fff;
}

button#searchSubmit:hover {
    color:#e7cb4d;
}

#cards {
    width:81vw;
    padding:2vw;
    margin:auto;
    text-align:center;
}

.profcard {
    display:inline-block;
    width:23vw;
    padding:2vw;
    margin:1vw;
    border:1px solid #466ec5;
    border-radius:5%;
}

.profName {
    font-weight:bold;
    font-size:1.5vw;
    text-align:left;
    border-bottom:0.2vw solid #e7cb4d;
    margin-bottom:1vw;
}

.profClass {
    width:100%;
    display:block;
}

select#class {
    margin-left:1vw;
    text-align:left;
}

.quality, .difficulty, .grade {
    display:inline-block;
    width:6vw;
    padding:1vw 2vw;
    font-size:1.5vw;
    font-weight:bold;
    margin-bottom:2vw;
}

.difficulty {border-left:1px solid #e7cb4d;}

.quality:before, .difficulty:before {
    content:'/5';
    font-size:1vw;
    width:6vw;
    display:block;
    position:absolute;
    margin:2vw 0 2vw -2vw;
    font-weight:normal;
}

.quality:after {content:'QUALITY';}
.difficulty:after {content:'DIFFICULTY';}

.quality:after, .difficulty:after {
    font-size:1vw;
    width:6vw;
    display:block;
    position:absolute;
    margin:2vw 0 2vw -2vw;
    font-weight:normal;
}

@media only screen and (max-width: 850px) {
    .profcard {
        width:34vw;
    }

}