html {
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
    background:#fff;
    font-family:'Lato', sans-serif;
}

#title {
    width:50%;
    margin:1vw auto;
    text-align:center;
    font-size:5vw;
    color:#08328b;
}

#search {
    width:50%;
    margin:1vw auto;
}

input#searchbar {
    width:45vw;
    outline:none;
    border:none;
    border-bottom:5px solid #466ec5;
    padding:0.5vw;
    transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -ms-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
}

input#searchbar:focus {
    border-color:#e7cb4d;
}

#search:focus #suggest {
    height:auto;
}

button#searchSubmit {
    border:none;
    display:inline-block;
    color:#466ec5;
    position:relative;
    background-color:rgba(0,0,0,0);
}

button#searchSubmit:hover {
    color:#e7cb4d;
}

#cards {
    width:81vw;
    padding:2vw;
    margin:auto;
    text-align:center;
}

.profcard {
    display:inline-block;
    width:23vw;
    padding:2vw;
    margin:1vw;
    border:1px solid #466ec5;
    border-radius:5%;
}

.profName {
    font-weight:bold;
    font-size:1.5vw;
    text-align:left;
    border-bottom:5px solid #e7cb4d;
    margin-bottom:1vw;
}

.profClass {
    width:100%;
    display:block;
}

select#class {
    margin-left:1vw;
    text-align:left;
}

button#selectCourse {
    outline:none;
    border:none;
    background:#466ec5;
    color:#fff;
    border-radius:3px;
}

.quality, .difficulty {
    display:inline-block;
    width:6vw;
    text-align:center;
    padding:1vw 2vw 1vw 0;
    font-size:1.5vw;
    font-weight:bold;
    margin-bottom:2vw;
}

.difficulty {
    border-left:5px solid #e7cb4d;
    padding:1vw 0vw 1vw 2vw;
}

.quality:before, .difficulty:before, .quality:after, .difficulty:after {
    content:'/5';
    font-size:1vw;
    width:6vw;
    display:block;
    position:absolute;
    margin:2vw auto;
    font-weight:normal;
    padding-right:2vw;
}

.quality:after {content:'QUALITY';}
.difficulty:after {content:'DIFFICULTY';padding:0;margin-left:-0.75vw;}

@media only screen and (max-width: 1000px) {

    #title {
        font-size:10vw;
    }

    #search {
        width:80vw;
    }

    input#searchbar {
        width:75vw;
    }

    button#submitSearch {
        top:-3vw;
    }

    .profcard {
        width:34vw;
    }

    .profName {
        font-size:3vw;
    }

    .quality, .difficulty {
        width:13vw;
        font-size:3vw;
        padding-right:3vw;
    }

    .difficulty {padding-right:0;padding-left:3vw;}

    .quality:before, .difficulty:before, .quality:after, .difficulty:after {
        width:13vw;
        margin-top:4vw;
        font-size:1.5vw;
        padding-right:3vw;
    }

    .difficulty:after {padding:0;margin-left:-1.5vw;}

    .quality:after, .difficulty:after {
        margin-top:2vw;
    }

}

@media only screen and (max-width: 450px) {

    #title {
        font-size:15vw;
    }

    button#submitSearch {
        top:-3vw;
        margin:3vw 1vw;
    }

    #cards {
        width:80vw;
    }

    .profcard {
        width:74vw;
    }

    .profName {
        font-size:6vw;
    }

    .quality, .difficulty {
        width:13vw;
        font-size:5vw;
        padding: 3vw 3vw 3vw 0;
    }

    .difficulty {padding-right:0;padding-left:3vw;border-width:2px;}

    .quality:before, .difficulty:before, .quality:after, .difficulty:after {
        width:13vw;
        margin-top:4vw;
        font-size:1.5vw;
        padding-right:3vw;
    }

    .difficulty:after {padding:0;margin-left:-1.5vw;}

    .quality:after, .difficulty:after {
        margin-top:2vw;
    }

}